<p-card class="w-12 h-full">
    <ng-template pTemplate="header">

        <div class="flex justify-content-between flex-wrap">
            <h3 class="ml-4">
                Registro de TipoProductos
            </h3>
            <div class="mt-2 mr-2">
                <a 
                  pButton 
                  pRipple
                  label="Crear TipoProductos" 
                  icon="pi pi-user-plus"
                  class="bg-cyan-600"
                  [routerLink]="['/tipoproductos/nuevo']">
                </a>


            </div>

        </div>
    </ng-template>
    <p>
        <p-table [value]="tipoProductos">
            <ng-template pTemplate="header">
                <tr>
                    <th> id</th>
                    <th>nombreTipo</th>
                    <th>activo</th>
                    <th class="flex justify-content-center flex-wrap">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tipoProductos>
                <tr>
                    <td>{{ tipoProductos.id }}</td>
                    <td>{{ tipoProductos.nombreTipo }}</td>
                    <td>{{ tipoProductos.activo }}</td>
                    <td>
                        <button 
                        pButton 
                            pRipple
                            icon="pi pi-print"
                            class="bg-cyan-600  mr-1"
                        >

                        </button>
                        <a 
                            pButton 
                            pRipple
                            icon="pi pi-sync"
                            severity="warning"
                            class="mr-1"
                            [routerLink]="['/tipoproductos/edit', tipoProductos.id]">
                        </a>

                        <button 
                            pButton 
                            pRipple
                            severity="danger"
                            icon="pi pi-eraser"
                            class="mr-1"
                            (click)="eliminar(tipoProductos.id)"
                        >

                        </button>
                    </td>

                </tr>
            </ng-template>
        </p-table>
    </p>

</p-card>
